@font-face {
  font-family: "Poppins";
  src:url("assets/fonts/poppins-regular-webfont.eot");
  src:url("assets/fonts/poppins-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/poppins-regular-webfont.woff") format("woff"),
    url("assets/fonts/poppins-regular.ttf") format("truetype"),
    url("assets/fonts/poppins-regular-webfont.svg#poppins-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:url("assets/fonts/poppins-italic-webfont.eot");
  src:url("assets/fonts/poppins-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/poppins-italic-webfont.woff") format("woff"),
    url("assets/fonts/poppins-italic.ttf") format("truetype"),
    url("assets/fonts/poppins-italic-webfont.svg#poppins-italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src:url("assets/fonts/poppins-medium-webfont.eot");
  src:url("assets/fonts/poppins-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/poppins-medium-webfont.woff") format("woff"),
    url("assets/fonts/poppins-medium.ttf") format("truetype"),
    url("assets/fonts/poppins-medium-webfont.svg#poppins-medium") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:url("assets/fonts/cormorantgaramond-regular-webfont.eot");
  src:url("assets/fonts/cormorantgaramond-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/cormorantgaramond-regular-webfont.woff") format("woff"),
    url("assets/fonts/cormorantgaramond-regular.ttf") format("truetype"),
    url("assets/fonts/cormorantgaramond-regular-webfont.svg#cormorantgaramond-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:url("assets/fonts/cormorantgaramond-italic-webfont.eot");
  src:url("assets/fonts/cormorantgaramond-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/cormorantgaramond-italic-webfont.woff") format("woff"),
    url("assets/fonts/cormorantgaramond-italic.ttf") format("truetype"),
    url("assets/fonts/cormorantgaramond-italic-webfont.svg#cormorantgaramond-italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:url("assets/fonts/cormorantgaramond-semibold-webfont.eot");
  src:url("assets/fonts/cormorantgaramond-semibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/cormorantgaramond-semibold-webfont.woff") format("woff"),
    url("assets/fonts/cormorantgaramond-semibold.ttf") format("truetype"),
    url("assets/fonts/cormorantgaramond-semibold-webfont.svg#cormorantgaramond-semibold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@charset "UTF-8";
@font-face {
  font-family: "mps-icons";
  src:url("assets/fonts/mps-icons.eot");
  src:url("assets/fonts/mps-icons.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/mps-icons.woff") format("woff"),
    url("assets/fonts/mps-icons.ttf") format("truetype"),
    url("assets/fonts/mps-icons.svg#mps-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "mps-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mps-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-down:before {
  content: "\64";
}
.icon-up:before {
  content: "\65";
}
.icon-instagram:before {
  content: "\66";
}
.icon-pinterest-circle:before {
  content: "\67";
}
.icon-youtube:before {
  content: "\69";
}
.icon-delete:before {
  content: "\6b";
}
.icon-menu:before {
  content: "\6c";
}
.icon-left-slider:before {
  content: "\6d";
}
.icon-mail:before {
  content: "\6e";
}
.icon-right-slider:before {
  content: "\6f";
}
.icon-search:before {
  content: "\70";
}
.icon-down-arrow:before {
  content: "\71";
}
.icon-tumblr:before {
  content: "\72";
}
.icon-twitter:before {
  content: "\73";
}
.icon-youtube-1:before {
  content: "\74";
}
.icon-linkedin:before {
  content: "\75";
}
.icon-dribbble:before {
  content: "\76";
}
.icon-rss:before {
  content: "\77";
}
.icon-snapchat:before {
  content: "\78";
}
.icon-lastfm:before {
  content: "\79";
}
.icon-soundcloud:before {
  content: "\7a";
}
.icon-vimeo:before {
  content: "\41";
}
.icon-gplus:before {
  content: "\62";
}
.icon-home:before {
  content: "\6a";
}
.icon-heart:before {
  content: "\42";
}
.icon-heart-filled:before {
  content: "\43";
}
.icon-search-bold:before {
  content: "\68";
}
.icon-mail-bold:before {
  content: "\44";
}
.icon-pinterest:before {
  content: "\45";
}

