/*
* 4 Featured Posts in a row
* (in the top section)
*
*/
.featured-row.top {
	display: flex;
	align-items: top;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2em auto;
	padding: 0;
	text-align: center;
	margin-bottom: 0;
	max-width: 100%;

	@include breakpoint(tablet) {
		margin-bottom: 2em;
	}

	.widget-title {
		width: 100%;
		text-align: center;
		margin-bottom: 1.5em;
	}

	article {
		width: 100%;

		@include breakpoint(smartphone) {
			width: 49%;
		}

		@include breakpoint(tablet) {
			width: 32%;

			&nth-of-type(n+3) {
				display: none;
			}
		}

		@include breakpoint(tablet) {
			width: 25%;

			&nth-of-type(n+3) {
				display: block;
			}
		}
	}

	.entry-thumbnail {
		margin-bottom: 1.5em;
	}

	.entry-title {
		font-size: 1.25em;
		text-transform: none;
	}

	.entry-meta {
		font: $font__menu;
		font-size: 0.875em;
		margin-top: 0.75em;
	}
}
