input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 7px;
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0px solid $color__primary;
	background: $color__accent;
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	padding: 0.75em 1.25em;
	margin: .7em 0;
	@include menu-font-small();
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: $color__secondary;
	font-size: 0.875em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.searchform input {
	width: 85%;
}