/* 
*
* INSTAGRAM FEED by WP Instagram Widget 
* Type 2 - Fullwidth Feed with 7 columns
*
*/
.null-instagram-feed {
	margin-bottom: 1em;
	position: relative;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;

		li {
			width: 33.333%;
			margin-bottom: -8px;

			&:nth-of-type(n+7) {
				display: none;
			}

			@include breakpoint(tablet) {
				width: 14.286%;

				&:nth-of-type(n+7) {
					display: block;
				}
			}
		}
	}
}