/*
* Desktop Menu
------------------
*/
@include breakpoint(tablet) {
	#mobile-navigation {
		display: none;
	}
	#sub-navigation {
		display: block;
	}
	#site-navigation {
		display: inline-flex;
		justify-content: space-between;
		padding: 0.75em 1em;

		&:before {
			content: "";
			width: 60px;
			height: 3px;
			background-color: $color__primary;
			display: inline-block;
			vertical-align: middle;
			margin-right: 2em;
		}
	}

	.admin-bar .main-navigation {
    	top: 0px;
	}

	#site-navigation + .site-header {
		margin-top: 3em;
	}

	.main-navigation {
	display: block;
	clear: both;
	position: relative;
	height: auto;

		.menu-toggle {
			display: none;
		}

		.menu-container, .menu {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			position: relative;
			background-color: transparent;
			height: auto;
			padding: 0;

			// ul {
			// 	display: flex;
			// 	flex-direction: row;
			// 	flex-wrap: wrap;
			// 	align-items: center;
			// 	list-style: none;
			// 	margin: 0;
			// 	padding-left: 0;
			// 	height: auto;
			// 	width: 100%;

				.sub-menu {
					float: left;
					position: absolute;
					top: 100%;
					left: -999em;
					z-index: 99999;
					display: inline-block;
					background-color: white;
					border: 1px solid $color__grey;
					margin-top: 1em;
					transition: 0.5s margin-top ease-in-out;

					li.menu-item-has-children {

						.icon-keyboard_arrow_down {
							transform: rotate(270deg);
							display: inline-block;
							vertical-align: bottom;
						}
					}

					ul {
						left: -999em;
						top: -20px;
						transition: top 0.3s ease-in-out;
					}

					li {
						text-align: left;
						padding: 1.2em 0.975em;
						border-bottom: 1px solid $color__grey;

						&:hover > ul,
						&.focus > ul {
							float: none;
							left: 100%;
							top: 0;
							transform: translateX(0);
						}

						&:last-of-type {
							border: none;
						}

						&:hover {
							background-color: $color__grey;
						}
					}
				}

				li:hover > .sub-menu,
				li.focus > .sub-menu {
					float: none;
					left: 50%;
					transform: translateX(-50%);
					width: 200px;
					transition: 0.5s margin-top ease-in-out;
					margin-top: 0em;

					// li:hover {
					// 	opacity: 0.7;
					// }
				}
			//}

			li {
				position: relative;
				padding: 1.75em 2.5em;

				&.social-item + .social-item {
					padding-left: 0;
				}

				// &.social-item + .mbt-item {
				// 	padding-left: 0;
				// }

				// &.mbt-item + .social-item {
				// 	padding-left: 0;
				// }

				&.mbt-item + .mbt-item {
					padding-left: 0;
				}

				&.button-item {
					background-color: $color__yellow;
					padding: 1em 1.5em;
					margin-left: 2.5em;
				}

				i {
					vertical-align: top;
				}

				&:hover > a,
				&.focus > a {
				}

			}

			a {
				text-decoration: none;
				text-align: left;
				display: inline-block;
				vertical-align: bottom;
			}

			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
			}
		
		}

		.social-search-container {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.search-icon {
				font-size: 1.25em;
				margin-left: 0.25em;
			}

			.cart-contents {
				margin-left: 1.25em;
				margin-right: 0.5em;
				color: $color__primary;
				font-size: 0.975em;
			}

			.social-media-icons {
				display: block;
				margin: 0;
				margin-right: 0.75em;
			}

			.searchform {
				margin-left: 2em;
				display: block;

				label {
					cursor: pointer;
					vertical-align: middle;
				}

				input {
					border: none;
					border-bottom: 1px solid $color__primary;
					border-radius: 0px;
					width: 0;
					padding: 0;
					transition: width 0.3s ease-in-out;
					background-color: transparent;

					&:focus {
						width: 200px;
					}
				}	
			}
		}
	}
	
	.sub-navigation {
		position: sticky;
		top: -2px;
		z-index: 999;
		background-color: white;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		padding: 0.5em 1em;
	}

	.admin-bar .sub-navigation {
		top: 32px;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 100%;
		margin-bottom: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-bottom: 0em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 100%;
		margin-top: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-top: 0;
		}
	}
}


/* Sub-Navigation 
--------------------- */
.main-navigation.sub-navigation {
	margin: 1em auto 2em auto;

	.menu {
		ul {
			justify-content: center;
		}
	}
}