/*
* Desktop Menu
------------------
*/
@include breakpoint(tablet) {
	#mobile-navigation {
		display: none;
	}

	.admin-bar .main-navigation {
    	top: 0px;
	}

	.site-header {
		margin: 2em auto 3em auto;
	}
	#site-navigation + .site-header {
		margin-top: 3em;
	}

	.main-navigation {
	display: block;
	clear: both;
	width: 100%;
	position: relative;
	height: auto;

	&.slide {
		flex-direction: row;
	}

		.menu-toggle {
			display: none;
		}

		.menu-container, .menu {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			position: relative;
			background-color: transparent;
			height: auto;
			padding: 0;

			// ul {
			// 	display: flex;
			// 	flex-direction: row;
			// 	flex-wrap: wrap;
			// 	align-items: center;
			// 	list-style: none;
			// 	margin: 0;
			// 	padding-left: 0;
			// 	height: auto;
			// 	width: 100%;

				ul {
					float: left;
					position: absolute;
					top: 100%;
					left: -999em;
					z-index: 99999;
					display: inline-block;
					background-color: $color__secondary;
					margin-top: -0.5em;
					transition: 0.5s margin-top ease-in-out;

					ul {
						left: -999em;
						top: -20px;
						transition: top 0.3s ease-in-out;
					}

					li {
						text-align: center;
						padding: 0.75em;

						&:hover > ul,
						&.focus > ul {
							float: none;
							left: 100%;
							top: 0;
							transform: translateX(0);
						}
					}
				}

				li:hover > .sub-menu,
				li.focus > .sub-menu {
					float: none;
					left: 50%;
					transform: translateX(-50%);
					width: 200px;
					transition: 0.5s margin-top ease-in-out;
					margin-top: 0em;

					li:hover {
						opacity: 0.7;
					}
				}
			//}

			li {
				position: relative;
				padding: 0.2em 1.5em;

				&.social-item + .social-item {
					padding-left: 0;
				}

				// &.social-item + .mbt-item {
				// 	padding-left: 0;
				// }

				// &.mbt-item + .social-item {
				// 	padding-left: 0;
				// }

				&.mbt-item + .mbt-item {
					padding-left: 0;
				}

				i {
					vertical-align: middle;
				}

				&:hover > a,
				&.focus > a {
				}

			}

			a {
				text-decoration: none;
				text-align: center;
				display: inline-block;
				vertical-align: bottom;
			}

			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
			}
		
		}

		.social-search-container {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.social-media-icons {
				display: block;
				margin: 0;
				margin-right: 0.75em;
			}

			.searchform {
				margin-left: 2em;
				display: block;

				label {
					cursor: pointer;
					vertical-align: middle;
				}

				input {
					border: none;
					border-bottom: 1px solid $color__primary;
					border-radius: 0px;
					width: 0;
					padding: 0;
					transition: width 0.3s ease-in-out;
					background-color: transparent;

					&:focus {
						width: 200px;
					}
				}	
			}
		}
	}
	
	.sub-navigation {
		position: sticky;
		top: -2px;
		z-index: 999;
		background-color: white;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
	}

	.admin-bar .sub-navigation {
		top: 32px;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 100%;
		margin-bottom: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-bottom: 0em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 100%;
		margin-top: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-top: 0;
		}
	}
}


/* Sub-Navigation 
--------------------- */
.main-navigation.sub-navigation {
	margin: 1em auto 2em auto;

	.menu {
		ul {
			justify-content: center;
		}
	}
}