/*
* Desktop Menu
------------------
*/
@include breakpoint(tablet) {
	#mobile-navigation {
		display: none;
	}
	#sub-navigation {
		display: block;
	}
	#site-navigation {
		display: flex;
	}

	.admin-bar .main-navigation {
    	top: 0px;
	}

	#left-navigation, #right-navigation {
		display: block;
	}

	#left-navigation {
		ul li:last-of-type {
			display: none;
		}
	}
	#right-navigation {
		ul li:first-of-type {
			display: none;
		}
	}

	.menu-toggle {
		display: none;
	}

	#right-navigation .menu-container {
		justify-content: flex-end;
	}

	.main-navigation {
	clear: both;
	width: 100%;
	position: relative;
	height: auto;

		.menu-container, .menu {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			position: relative;
			background-color: transparent;
			height: auto;
			padding: 0;

			// ul {
			// 	display: flex;
			// 	flex-direction: row;
			// 	flex-wrap: wrap;
			// 	align-items: center;
			// 	list-style: none;
			// 	margin: 0;
			// 	padding-left: 0;
			// 	height: auto;
			// 	width: 100%;

				.sub-menu {
					float: left;
					position: absolute;
					top: 100%;
					left: -999em;
					z-index: 99999;
					display: inline-block;
					background-color: $color__secondary;
					opacity: 0;
					transition: 0.5s opacity ease-in-out;
					padding-bottom: 0.5em;

					ul {
						left: -999em;
						top: -20px;
						transition: all 0.3s ease-in-out;

						a .icon-down {
							transform: rotate(30deg);
							font-size: 4em;
						}
					}

					li {
						text-align: center;

						// a:hover {
						// 	opacity: 0.7;
						// }

						&:hover > ul,
						&.focus > ul {
							float: none;
							left: 100%;
							top: 0;
							transform: translateX(0);
							opacity: 1;
						}
					}
				}

				li:hover > .sub-menu,
				li.focus > .sub-menu {
					float: none;
					left: 50%;
					transform: translateX(-50%);
					width: 200px;
					transition: 0.5s all ease-in-out;
					opacity: 1;

					li:hover {
						opacity: 0.7;
					}
				}
			//}

			li {
				position: relative;

				&.social-item + .social-item {
					padding-left: 0;
				}

				// &.social-item + .mbt-item {
				// 	padding-left: 0;
				// }

				// &.mbt-item + .social-item {
				// 	padding-left: 0;
				// }

				&.mbt-item + .mbt-item {
					padding-left: 0;
				}

				&:hover > a,
				&.focus > a {
				}

				&:hover {
					opacity: 0.8;
				}

				i {
					vertical-align: middle;
				}
			}

			a {
				text-decoration: none;
				display: inline-block;
				vertical-align: bottom;
			}

			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
			}
		
		}

		.social-search-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.social-media-icons {
				display: block;
				margin: 0;
				margin-right: 0.75em;
			}

			.searchform {
				margin-left: 2em;
				display: block;

				label {
					cursor: pointer;
					vertical-align: middle;
				}

				input {
					border: none;
					border-bottom: 1px solid $color__primary;
					border-radius: 0px;
					width: 0;
					padding: 0;
					transition: width 0.3s ease-in-out;
					background-color: transparent;

					&:focus {
						width: 200px;
					}
				}	
			}
		}
	}

	/* Header
	----------- */
	.site-header {
		max-width: 220px;
		padding: 0;
	}
}

@include breakpoint(desktop) {
	#left-navigation {
		ul li:last-of-type {
			display: block;
		}
	}
	#right-navigation {
		ul li:first-of-type {
			display: block;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 100%;
		margin-bottom: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-bottom: 0em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 100%;
		margin-top: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-top: 0;
		}
	}
}