.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	font: $font__menu;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	height: auto;
	font-size: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.nav-inner {
		display: none;
		text-align: center;
		padding: 3.25em 1.5em;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(255,255,255,0.9);
		justify-content: center;
		flex-direction: column;
		width: auto;
	}

	.searchform {
		display: flex;
		align-items: center;
	}

	.social-media-icons {
		display: none;
	}

	@include breakpoint(desktop) {
		.social-media-icons {
			display: flex;
			align-items: center;
		}
	}

	.searchform i {
		margin-right: 0.5em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		height: auto;
		width: 100%;

		ul {
			position: relative;
			top: 0;
			left: 0;
			z-index: 99999;
			padding: 10px 0px 20px 0px;
			height: auto;
			display: none;

			ul {
				left: 0;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 0;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		display: block;
		padding: 1em 1.5em;
		letter-spacing: 0.05em;
		font-size: 1.05em;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-align: center;
		color: $color__primary;

		i {
			margin-left: 0.45em;

			&.icon-down, &.icon-up {
				font-size: 1.2em;
				vertical-align: middle;

				@include breakpoint(tablet) {
					display: none;
				}
			}
		}
	}

	li.menu-item-has-children a:first-of-type {
		
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Collapsing Navbar - Mobile
	--------------------------------- */
	.main-navigation { 
		position: relative; 
		-webkit-transition: height 0.7s ease-in-out; 
		transition: height 0.7s ease-in-out; 
		z-index: 9999; 
		padding: 0.875em; 
	}
	


	@-webkit-keyframes fixed { from { opacity: 0;
	    bottom: -50px; }
	  to { opacity: 1;
	    bottom: 0px; } }

	@keyframes fixed { from { opacity: 0;
	    bottom: -50px; }
	  to { opacity: 1;
	    bottom: 0px; } }

	/* Admin Bar Keyframes */
	@-webkit-keyframes fixed-admin { from { opacity: 0;
	    bottom: -50px; }
	  to { opacity: 1;
	    bottom: 0px; } }

	@keyframes fixed-admin { from { opacity: 0;
	    bottom: -50px; }
	  to { opacity: 1;
	    bottom: 0px; } }



@include breakpoint(tablet) {

	/* Collapsing Navbar - Desktop 
	--------------------------------- */
	.main-navigation { 
		position: relative; 
		-webkit-transition: height 0.7s ease-in-out; 
		transition: height 0.7s ease-in-out; 
		z-index: 9999; 
		padding: 0.25em; 
		font-size: 0.875em;
	}

	@media (min-width: 50em) { .main-navigation { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; } }

	.main-navigation.fixed { 
		margin: 0; 
		position: fixed; 
		top: 0px; 
		left: 0; 
		width: 100%; 
		z-index: 9999; 
		animation: fixed .5s ease forwards;
		background-color: $color__secondary;
		padding: 0.5em 1em;

		li {
			padding: 0.5em 1.5em;

			a {
				color: white;
			}
		}

		.searchform input {
			border-color: white;
			padding: 0.25em 0;
		}

	}

	.admin-bar .main-navigation.fixed { margin: 0; position: fixed-admin; top: 32px; left: 0; width: 100%; z-index: 9999; animation: fixed .5s ease forwards }


	@-webkit-keyframes fixed { from { opacity: 0;
	    top: -50px; }
	  to { opacity: 1;
	    top: 0px; } }

	@keyframes fixed { from { opacity: 0;
	    top: -50px; }
	  to { opacity: 1;
	    top: 0px; } }

	/* Admin Bar Keyframes */
	@-webkit-keyframes fixed-admin { from { opacity: 0;
	    top: -50px; }
	  to { opacity: 1;
	    top: 32px; } }

	@keyframes fixed-admin { from { opacity: 0;
	    top: -50px; }
	  to { opacity: 1;
	    top: 32px; } }

}


/* Small menu. */
.menu-toggle {
	display: block;
	position: relative;
	width: auto;
	text-align: center;
	border: none;
	background: none;
	padding: 0 0.5em;
	font-size: 2.5em;
	color: $color__primary;
	margin: 0;
}

.close.icon-delete {
	font-size: 3em;
	margin: 1em auto;
	color: $color__primary;
	cursor: pointer;
}

.nav-headline {
	text-align: center;

	h3 {
		margin-bottom: 1em;
		font-size: 1.15em;
	}
	p {
		font: $font__text;
		font-style: italic;
		text-transform: none;
		font-size: 0.975em;
		margin-top: 0.5em;
		letter-spacing: 0;
	}
}

#searchform {
	margin-top: 2em;
}


.main-navigation.toggled {
	height: auto;
	min-height: 100vh;
	display: block;
	z-index: 7777;

	.nav-inner {
		display: flex;
		width: 100%;
	}

	.searchform {
		margin-top: 1.5em;
		justify-content: center;

		input {
			width: 80%;
		}
	}

	.social-media-icons {
		margin: 1.875em 0 2em 0;
		display: block;
	}

	#primary-menu {
		margin: 1em auto;
	}
}

.social-search {
		display: none;
}


/*
* Desktop Menu
------------------
*/
@include breakpoint(tablet) {
	.menu-toggle, .nav-headline {
		display: none;
	}

	.admin-bar .main-navigation {
    	top: 0px;
	}

	.searchform {
		margin-left: 2em;

		input {
			width: 0;
			padding: 0;
			transition: width 0.3s ease-in-out;
			background-color: transparent;

			&:focus {
				width: 200px;
			}
		}	
		
	}

	.main-navigation {
	clear: both;
	width: 100%;
	position: relative;
	height: auto;
	padding: 2em 2em;

		.nav-inner {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			position: relative;
			background-color: transparent;
			height: auto;
			padding: 0 0.75em;

			.social-media-icons, .searchform {
				display: none;
			}
		}

		.social-search {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.social-media-icons {
				margin: 0;
				margin-right: 0.75em;
			}
		}

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			list-style: none;
			margin: 0;
			padding-left: 0;
			height: auto;
			width: 100%;

			.sub-menu {
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				display: block;
				background-color: $color__secondary;

				ul {
					left: -999em;
					top: -20px;
					transition: top 0.3s ease-in-out;
				}

				li {
					text-align: center;

					&:hover > ul,
					&.focus > ul {
						float: none;
						left: 100%;
						top: 0;
						transform: translateX(0);
					}
				}

				a {
					
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > .sub-menu,
			li.focus > .sub-menu {
				float: none;
				left: 50%;
				transform: translateX(-50%);
				width: 200px;
			}
		}

		li {
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}

		a {
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
		}
	}

}

.searchform {

	label {
		cursor: pointer;
		vertical-align: middle;
	}

	input {
		border: none;
		border-bottom: 1px solid $color__primary;
		border-radius: 0px;
		width: 0;
		padding: 0;
		transition: width 0.3s ease-in-out;
		background-color: transparent;

		&:focus {
			width: 200px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 100%;
		margin-bottom: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-bottom: 0em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 100%;
		margin-top: 1em;

		@include breakpoint(tablet) {
			width: 50%;
			margin-top: 0;
		}
	}
}
