.widget {
	margin: 3.5em auto;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	/* Fullwidth widget with border */
	&.fullwidth {
		border-top: 1px solid $color__accent;
		border-bottom: 1px solid $color__accent;
		padding: 60px 20px;
		max-width: 100%;

		.widget-content {
			max-width: $max_size__site-main;
			margin: 0 auto;
		}
	}

	&:not(.null-instagram-feed), &:not(.wp-my-instagram) {

		// General widgets styling
		ul {
			list-style: none;
			padding-left: 0;

			li {
				text-align: center;
				padding: 0.75em 1.5em;
				border: 1px solid #dddddd;
				margin: 1em auto;

				&:hover {
					background-color: $color__light-bg;
				}
			}

			a {
				color: $color__primary;
			}
		}
		
	}

}

.widget-title, .widgettitle {
	font: $font__headline;
	font-size: 1.2em;

	span {
		font-family: "Audrey";
		font-size: 4em;
		vertical-align: middle;
		margin: 0 0.15em;
		font-weight: 400;
		text-transform: none;
	}
}

#secondary .widget-title, #secondary .widgettitle {
	margin-top: 3em;
}

#secondary .small-width {
	padding: 0;
}

/* SOCIAL MEDIA ICONS */
.social-media-icons {
	text-align: center;
	margin: 3em auto;

	a {
		display: inline-block;
		margin: 0 0.5em;
		font-size: 1.15em;
		color: $color__primary;

		&:hover {
			color: $color__accent;
		}
	}
}


/* Featured Posts: Row
--------------------------- */
.featured-row {
	display: flex;
	align-items: top;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2em auto;
	max-width: $max_size__site-main;
	padding: 0;
	text-align: center;
	margin-bottom: 0;

	@include breakpoint(tablet) {
		margin-bottom: 2em;
	}

	.widget-title {
		width: 100%;
		text-align: center;
		margin-bottom: 1.5em;
	}

	article {
		width: 100%;

		@include breakpoint(smartphone) {
			width: 49%;
		}

		@include breakpoint(tablet) {
			width: 32%;
		}

		@include breakpoint(tablet) {
			width: 32%;
		}
	}

	.entry-thumbnail {
		margin-bottom: 1.5em;
	}

	.entry-title {
		font-size: 1.25em;
		text-transform: none;
	}

	.entry-meta {
		font: $font__menu;
		font-size: 0.875em;
		margin-top: 0.75em;
	}
}


/* CATEGORY THUMBNAILS ON HOMEPAGE */
.category-thumbnails {
	text-align: center;
}
.category-posts {
	@include breakpoint(tablet) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	article {
		width: 100%;

		@include breakpoint(tablet) {
			width: 32%;
		}

		.entry-thumbnail {
			width: 100%;
			max-height: $thumbnail_mobile_height;
			overflow: hidden;
			display: flex;
			align-items: center;

			@include breakpoint(tablet) {
				height: $thumbnail_height;
			}
		}
	}

	h3 {
		width: 100%;
	}
}

/* RELATED POSTS */
#related-posts {
	margin: 0 auto;
	max-width: 1280px;
	padding: $padding__general;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2em;
	width: 100%;

	h3.related-title {
		text-align: center;
		text-transform: none;
		font-size: 1.45em;
		letter-spacing: 0.03em;
		width: 100%;
		margin-bottom: 1.5em;
	}

	article {
		width: 100%;

		@include breakpoint(smartphone) {
			width: 32%;
		}

		.entry-meta {
			text-align: center;
			font-size: 0.875em;

			.posted-on {
				display: none;
			}
		}

		.entry-header {
			width: 95%;
		}

		.entry-thumbnail {
			width: 100%;
			height: 250px;
			overflow: hidden;
			display: flex;
			align-items: center;

			img {
				object-fit: cover;
				width: 100%;
				height: 250px;
			}

			@include breakpoint(tablet) {
				height: 350px;

				img {
					object-fit: cover;
					width: 100%;
					height: 350px;
				}
			}

		}

		.entry-title {
			line-height: 1.3em;
			margin: 0.5em auto;
			font-size: 1.35em;
			letter-spacing: 0;
			text-transform: none;
			text-align: center;
		}
	}
}



/* Youtube Widget */
.youtube-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2em auto;

	.youtube-video {
		width: 100%;
		margin-bottom: 1.5em;

		h3 {
			margin-top: 0.875em;
			font-size: 1em;
			font-weight: 400;
			text-align: center;
		}

		@include breakpoint(tablet) {
			width: 31%;
			margin-bottom: 0;
		}
	}

	.youtube-thumb {
		position: relative;

		&:after {
			content: "\69";
			font-family: 'mps-icons';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: $color__accent;
			font-size: 3.5em;
		}
	}

}

#secondary .youtube-gallery {
	display: block;

	.youtube-video {
		@include breakpoint(tablet) {
			width: 100%;
			margin-bottom: 2em;
		}
	}
}

/* Profile Widget
-------------------- */
.about-widget .widget-content {
	display: block;

	@include breakpoint(tablet) {
		display: flex;
		align-items: center;
	}

	.about-image {
		max-height: 500px;
		overflow: hidden;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;

		@include breakpoint(tablet) {
			width: 50%;
		}
	}

	.about-content {
		width: 80%;
		background-color: transparent;
		margin: 0 auto;
		margin-top: 2em;

		@include breakpoint(tablet) {
			width: 50%;
		}

		.widgettitle {
			text-align: center;
			margin-right: 1em;
			font-size: 1.75em;
			margin-bottom: 0;

			@include breakpoint(tablet) {
				text-align: right;
			}
		}

		.about-text {
			background-color: white;
			padding: 1em 2em;
			line-height: 1.875em;
			font-size: 0.975em;

			@include breakpoint(tablet) {
				margin-left: -5em;
				padding: 3em 2em;
			}
		}

		a {
			display: block;
			text-align: right;
			text-transform: uppercase;
			letter-sapcing: 0.05em;
			font-style: italic;
			margin-right: 1em;
		}
	}
}

#secondary .about-widget {
	.widget-title {
		text-align: center;
	}

	img {
		width: 100%;
	}

	.widget-content {
		display: block;
	}

	.about-image {
		width: 100%;
	}

	.about-content {
		padding: 0.5em;
		width: 100%;
		margin-top: 0;

		.widget-title {
			margin: 1em auto;
		}

		.about-text {
			font: $font__menu;
			font-size: 0.85em;
			line-height: 1.55em;
			margin: 1em auto;
			padding: 0em;
		}

		a {
			color: $color__primary;
			font-weight: 400;
		}
	}
}

/* Search Widget 
----------------------- */
.widget_search {
	.searchform {
		margin-left: 0;

		label {
			margin-right: 0.25em;
		}

		input {
			border: none;
			border-bottom: 1px solid $color__primary;
			border-radius: 0px;
			width: 90%;
			padding: 0.25em 0.1em;
		}
	}
}

/* Yikes Mailchimp Widget 
------------------------------- */
.widget_yikes_easy_mc_widget {
	background-color: $color__secondary;
	padding: 2em;
	margin-top: 4em;

	.widget-title {
		text-align: center;
		text-transform: uppercase;
		letter-sapcing: 0.03em;
		font-size: 1.1em;
		margin-top: 1em!important;
	}

	.yikes-mailchimp-form-description {
		text-align: center;
		font: $font__menu-small;
		font-size: 0.85em;
		margin: 1.5em auto;
		line-height: 1.5em;
	}

	form {
		display: block;

		input {
			border: none!important;
			background-color: white!important;
			padding: 1em;
			font-size: 0.875em;
			border-radius: 0px!important;
		}

		label span {
			font: $font__menu-small;
		}

		.yikes-easy-mc-submit-button {
			background-color: $color__primary;
			color: white;
			font-weight: bold;
			margin-top: 0;

			&:hover {
				background-color: $color__accent;
			}
		}
	}
}

.widget-area:not(#secondary) .widget_yikes_easy_mc_widget {
	max-width: 100%;

	form {
		max-width: $max_size__site-main;
		padding: 0 $padding__general;
		margin: 0 auto;
		display: block;

		@include breakpoint(tablet) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		label, .yikes-easy-mc-submit-button {
			width: 100%;
			margin-bottom: 0;

			@include breakpoint(tablet) {
				width: 32%;
			}
		}

		.yikes-easy-mc-submit-button {
			max-height: 40px;
			min-height: 0;
			margin-bottom: 0.65em;
			margin-top: 1em;

			@include breakpoint(tablet) {
				margin-top: 0;
			}
		}
	}

}

/* Featured/Popular/Category Posts
------------------------------------- */
.posts-widget-class {
	.widget-title, .widgettitle {
		text-align: left;
		margin-bottom: 1.5em;
		margin-top: 2em;

		@include breakpoint(tablet) {
			margin-top: 0.5em;
		}
	}

	.hentry {
		margin: 0.5em 0;

		.entry-thumbnail {
			height: 250px;
			overflow: hidden;

			@include breakpoint(desktop) {
				height: 350px;
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 250px;

				@include breakpoint(desktop) {
					height: 350px;
				}
			}
		}
	}
}

.popular-posts, .featured-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;

	&.columns-2 {

		article {
			width: 49%;
			margin: 0.5em 0;

			@include breakpoint(tablet) {
				width: 49%;
			}

		}

	}
	&.columns-3 {

		article {
			width: 100%;
			margin: 0.5em 0;

			@include breakpoint(tablet) {
				width: 32%;
			}

		}
		
	}
	&.columns-4 {

		article {
			width: 100%;
			margin: 0.5em 0;
		  height: auto;

			@include breakpoint(smartphone) {
				width: 49%;
			}

			@include breakpoint(tablet) {
				width: 24%;
			}

		}
		
	}
	&.columns-5 {

		article {
			width: 49%;
			margin: 0.5em 0;
		  height: auto;

			@include breakpoint(tablet) {
				width: 19%;
			}

		}
		
	}

	article {
		width: 49%;
		margin: 0.5em 0;

		.entry-thumbnail {
			height: 250px;
		}

		@include breakpoint(tablet) {
			width: 24%;
		}

		@include breakpoint(desktop) {
			height: 350px;
		}

	}

	.entry-header {
		text-align: center;

		.entry-title {
			text-transform: uppercase;
			font-size: 1.1em;
		}
	}
	.posted-on {
		display: none;
	}
}

#secondary {
	.popular-posts {
		padding: 0;
	}
	
	.posts-widget-class {
		padding: 0;

		article {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1em;
			flex-direction: row-reverse;
			border-bottom: 1px solid #eeeeee;
			padding-bottom: 0.75em;

			.entry-thumbnail {
				margin-left: auto;
				width: 100px;
				height: auto;
				margin-bottom: 0;

				img {
					width: 100px;
					height: auto;
				}
			}

			.entry-header {
				text-align: left;
				margin-right: 0.75em;
				flex: 1;

				.entry-title {
					font-size: 1em;
					text-transform: uppercase;
				}
			}
		}
	}
	.featured-row {
		padding: 0;
		margin-top: 0;
	}
}


/* Thumbnails Widget
----------------------- */
.thumbnails-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;

	.thumbnail {
		width: 100%;
		height: 250px;
		background-size: cover;
		background-position: center;
		position: relative;
		//margin: 2em;

		@include breakpoint(smartphone) {
			width: 32%;
			margin: 0;
		}

		@include breakpoint(tablet) {
			height: 350px;
		}

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: white;
			font: $font__menu;
			text-transform: uppercase;
			letter-spacing: 0.04em;
			padding: 0.75em 1.75em;
			margin: 0;
			text-align: center;
			line-height: 1.5em;

			a {
				color: $color__primary;
			}
		}
	}
}
