.site-main article.comment-body {
	padding-bottom: 0;
	margin-bottom: 1em;
}

.comment-list {
	list-style: none;
	padding: 1em;

	.children {
		display: block!important;
		list-style: none;
		margin-bottom: 4.5em;

		article {
			margin-bottom: 2.5em;
		}

		.comment-content {
			background-color: #f4f4f4;
			padding: 10px;
			margin-top: 1.75em;

			p {
				margin: 0.5em;
			}
		}
	}

	li {
		margin-bottom: 3em;
	}
}
.comment-content a {
	word-wrap: break-word;
}
.comment-metadata {
	font: $font__menu-small;

	time {
		margin-top: 0.25em;
		display: block;
	}
}

.bypostauthor {
	display: block;
}
.comment-author.vcard img {
	margin-right: .35em;
}
#commentform {
	input, textarea {
		border-radius: 0px;
	}

	label {
		@include menu-font-small();
		text-transform: none;
		letter-spacing: 0;
	}
	p {
		margin: .45em 0;
	}
	.form-submit {
		margin-top: .75em;
		color: white;
	}
}

img.avatar {
	border-radius: 50%;
}

.fn a {
	color: $color__primary;
}

.comments-title {
	font-size: 0.875em;
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

.comment-reply-link {
	color: $color__primary;
	font-weight: bold;
	font-size: 0.975em;
}

.comment-content p {
	font-size: 0.975em;
}
#reply-title small {
	font-size: 48%
}

#comments {
	margin: 0 auto;

	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	input, textarea {
		border: none;
		font-size: 0.85em;
	}

	.comment-form-comment, .comment-notes {
		width: 100%;
	}

	.comment-form-author, .comment-form-email, .comment-form-url {
		display: inline-block;
		width: 100%;

		@include breakpoint(tablet) {
			width: 31%;
		}
	}
}

#respond {
	width: 100%;
	background-color: #f8f8f8;
	padding: 30px;
}

.comment-body {
	position: relative;
	margin-bottom: 0;
}

.comment-meta {
	padding-left: 60px;
	line-height: 1.75em;

	.says {
		display: none;
	}
}

.comment-content {
	margin-top: 0.875em;
	font-size: 0.875em;
}

.comment-author.vcard img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-notes {
	font-size: 0.75em;
}

.reply {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 700;

	&:hover {
		opacity: 0.8;
	}
}
