.before-footer {
	width: 100%;
}

footer.site-footer {
	margin-top: -3.5em;
	padding-top: 2em;
	width: 100%;
	background-color: $color__grey;
}


// Style 1
.footer-container.big-menu {
	max-width: $max_size__site-main;
	padding: $padding__general;
	margin: 2em auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	color: $color__primary;

	@include breakpoint(tablet) {
		flex-direction: row;
		
		.footer-info {
			width: 100%;

			@include breakpoint(tablet) {
				width: 40%;
			}
		}
		.footer-areas {
			width: 100%;

			@include breakpoint(tablet) {
				width: 60%;
			}
		}
	}

	.footer-info {
		padding-right: 0em;
		line-height: 1.65em;
		text-align: center;

		@include breakpoint(tablet) {
			text-align: left;
			margin-right: 4em;
		}

		p.site-title {
			font: normal 600 1.55em "Poppins", Montserrat, Arial;
			font-size: 1.55em;
			font-size: 2.35em;
			margin: 0.5em 0;
			text-transform: lowercase;

			a {
				color: $color__primary;
			}
		}

		.blog-description {
			margin-top: 0.5em;
			margin-bottom: 3em;
		}
	}

	.footer-areas {
		display: flex;
		flex-direction: column;

		@include breakpoint(smartphone) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		.widget {
			width: 100%;
			padding: $padding__general;
			margin: 0;

			.widgettitle {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.85em;
			}

			.menu {
				li {
					border: none;
					margin: 0;
					text-align: left;
					padding: 0.5em 0em;
					text-transform: uppercase;
					font-size: 0.8em;
					letter-spacing: 0.05em;

					&:hover {
						background: none;
					}
				}
			}
		}

	}

	.site-info {
		text-align: center;
		font: $font__menu-small;
		margin-top: 2em;

		@include breakpoint(tablet) {
			text-align: left;
		}
	}
}
