.before-footer {
	width: 100%;
}

footer.site-footer {
	margin-top: -3.5em;
	padding-top: 2em;
	color: white!important;
	width: 100%;
}


// Style 1
.footer-container.big-menu {
	max-width: $max_size__site-main;
	padding: $padding__general;
	margin: 2em auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column-reverse;

	@include breakpoint(smartphone) {
		flex-direction: row;
		
		.footer-info, .footer-menu {
			flex: 1;
		}
	}

	.footer-info {
		padding-right: 0em;
		line-height: 1.65em;
		text-align: center;

		@include breakpoint(tablet) {
			padding-right: 10em;
		}

		@include breakpoint(smartphone) {
			padding-right: 3em;
			text-align: left;
		}

		p.site-title {
			font: normal 600 1.55em "Poppins", Montserrat, Arial;
			font-size: 1.55em;
			font-size: 2.35em;
			margin-bottom: 1em;
			text-transform: lowercase;
		}

		.blog-description {
			margin-top: 0em;
			margin-bottom: 3em;
		}
	}

	.footer-menu {
		@include menu-font();
		padding: 0 $padding__general;
		color: white;

		ul#footer-menu {
			list-style: none;
			padding: 0;
			margin: 1.7em auto;
			text-align: center;
			display: grid;
			grid-template-columns: 1fr 1fr;

			li {
				display: inline-block;
				padding: 0.785em;
				text-align: left;
				font-size: 1.2em;
			}
		}
	}

	.site-info {
		text-align: center;
		font: $font__menu-small;
		margin-top: 2em;

		@include breakpoint(smartphone) {
			text-align: left;
		}
	}
}


// Style 2
.footer-container.minimal-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1em;
	padding-bottom: 0.5em;

	.footer-info {
		width: 100%;
		font-size: 0.75em;

		@include breakpoint(tablet) {
			width: auto;
		}
	}

	.footer-menu {
		margin: 2em auto;
		width: 100%;

		@include breakpoint(tablet) {
			margin: 0;
			width: auto;
		}

		ul {
			list-style: none;
			padding-left: 0;
			text-align: center;

			@include breakpoint(tablet) {
				text-align: left;
			}
		}

		li {
			display: inline-block;
			padding: 0 1em;
		}

	}
}


// Style 3
.footer-container.big-logo {
	display: block;
	max-width: 960px;
	padding: $padding__general;
	margin: 0 auto;

	.footer-logo {
		text-align: center;
		max-width: 300px;
		margin: 0 auto;
		margin-top: 2em;

		.site-title a {
			color: white;
		}
	}

	.footer-menu {
		margin: 4em auto;

		ul {
			list-style: none;
			padding-left: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			padding: 0 1em;
		}
	}

	.footer-info {
		text-align: center;
		font-size: 0.75em;
	}
}