.site-header {
	text-align: left;
  margin-top: 0;
  width: auto;
  justify-content: flex-start;
  flex: 1;

	.site-branding {
		width: 100%;
		margin-top: 0em;
	}

	.site-title {
		font: $font__headline;
		font-size: 2.35em;
    margin-top: 0em;
    margin-bottom: 0em;
    text-transform: lowercase;
    text-align: left;

    a {
      text-align: left;
    }

    img {
      max-height: 70px;
      width: auto;

      &.fixed-logo {
        max-height: 55px;
      }
    }
	}

	.site-description {
		display: none;
	}
}



.main-navigation {
  .fixed-logo {
    display: none
  }

  &.fixed {
    .fixed-logo {
      display: block;
    }

    .site-title a *:not(.fixed-logo) {
      display: none;
    }
  }
}
