.site-header {
	text-align: center;
  margin-top: 0;

	.site-branding {
		width: 100%;
		margin-top: 0em;
	}

	.site-title {
		font: $font__headline;
		font-size: 2.05em;
    margin-top: 0em;
	}
}




