.site-content {
	max-width: $max_size__site-main;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;

	@include breakpoint(tablet) {
		padding: $padding__general;
	}

	.home & {
		max-width: $max_size__site-main;
	}
}

#primary {
	width: 100%;
	padding: 20px;
}

.site-content.has-sidebar {
	max-width: 1280px;

	#primary {
		width: 100%;

		@include breakpoint(tablet) {
			width: 67%;
			margin-right: auto;
		}

	}

}

#secondary {
	width: 100%;
	margin: auto;
	padding: 0px 20px;
	margin-top: -5em;

	@include breakpoint(tablet) {
		width: 30%;
		margin-left: auto;
		// position: sticky;
		// top: 60px;
		align-self: flex-start;
		max-width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 0;
		padding-right: 20px;

		&.sticky {
			position: sticky;
			top: 60px;
		}
	}

	.widget {
		margin: 2em auto;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 3.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
	font: $font__text;
	color: $color__text-main;
	line-height: 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Post-specific styles */
.entry-categories {
	margin-top: 1.45em;
	.cat-links a {
		@include menu-font-small();
	}
}
.tags-links {
	@include menu-font-small();
	text-transform: none;
	letter-spacing: 0;
}
.comments-link {
	display: block;
}

.entry-thumbnail {
	max-height: 550px;
	overflow: hidden;

	img {
		object-fit: cover;
		width: 100%;
		height: 550px;
	}
}

.entry-meta {
	font: $font__menu;
	margin-bottom: 1.5em;
	color: $color__primary;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	a {
		color: $color__primary;

		&:hover {
			color: $color__accent;
		}
	}

	.cat-links {
		font-weight: 600;
	}
}

.entry-title {
	margin: 0.55em 0;
	font-size: 1.75em;
	line-height: 1.5em;
	text-transform: none;

	@include breakpoint(tablet) {
		font-size: 2.25em;
	}

	a {
		color: $color__primary;
	}
}

.readmore {
	display: block;
	margin-top: 1.2em;
	text-transform: uppercase;
	font-style: italic;
	color: $color__primary;
}

.readmore:hover {
	color: $color__accent;
}

.entry-footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	margin-top: 3em;
	padding-bottom: 0em;

	.share, .comments-link {
		font: $font__menu-small;
		font-size: 0.75em;

		a {
			color: $color__primary;
		}
	}

	.share a {
		margin: 0 0.5em;
	}

}

/* First Article */
article.first-post {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 0!important;

	.entry-title {
		margin-top: 0;
	}

	.entry-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		p {
			width: 100%;
			margin: 1em 0;
		}

		a {
			width: 100%;
			display: block;
			font-size: 1.2em;
			text-align: center;

			button {
				background: none;
				color: $color__primary;
				font-weight: 400;
				font-style: italic;
				margin: 0;
				padding: 0;
				width: 100%;
				text-align: center;

				&:hover {
					color: $color__accent;
				}
			}
		}
	}
}



.site-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	article {
		margin-bottom: 3.5em;
		width: 100%;
		padding-bottom: 2em;

		.entry-body {
			margin: 2em auto;
			text-align: center;
		}

		/* Smaller Articles Homepage */
		&.small {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: stretch;
			width: 100%;

			@include breakpoint(tablet) {
				width: 48%;
			}

			.entry-body {
				width: 100%;
				border-bottom: 1px solid #dddddd;

				@include breakpoint(tablet) {
					width: 100%;
					padding: 1em;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-bottom: 0.25em;
					margin-top: 1em;
				}

				.entry-content {
					margin: 1.5em 0;

					button {
						background: none;
						color: $color__primary;
						padding: 0;
						font-size: 0.975em;
						margin: 0;
					}
				}
			}

			.entry-thumbnail {
				width: 100%;
				max-height: 480px;
			}

			.readmore {
				display: block;
				margin-top: 2.5em;
				font-style: italic;
				text-align: center;

				button {
					font-weight: 400;
					font-style: italic;
				}

				button:hover {
					color: $color__accent;
				}

				i {
					color: $color__primary;
					font-size: 1.5em;
				}
			}

			.entry-footer {
				.share a:hover {
					color: $color__accent;
				}
			}
		}
	}

	.entry-title {
		margin: 0 auto;
		margin-bottom: 0.35em;
		max-width: 40em;
	}

	.entry-content {
		max-width: 40em;
		margin: 0 auto;
		margin-top: 1em;
	}
}

/* Side Magazine */
.site-main.side-magazine {
	article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-bottom: none;

		@include breakpoint(tablet) {
			flex-direction: row;
			justify-content: space-between;
		}

		.entry-thumbnail, .entry-body {
			width: 100%;

			@include breakpoint(tablet) {
				width: 46%;
			}
		}

		.entry-thumbnail {
			max-height: 450px;
		}

		.entry-body {
			text-align: left;
			padding-bottom: 1em;
			border-bottom: 1px solid #dddddd;
			margin-top: 2em;

			@include breakpoint(tablet) {
				margin-top: 1em;
			}

			.read-more {
				text-align: left;
			}

			.entry-snippet {
				justify-content: flex-start;
				margin-left: 0;
				margin-right: 0;
			}
		}

		.entry-footer {

			@include breakpoint(tablet) {
				justify-content: flex-end;

				.share {
					margin-left: 1em;

					&:before {
						content: '//';
						margin-right: 1em;
					}
				}

			}
		}
	}
}

/* Alternating Posts */
.site-main.alternating {
	article {
		&:last-of-type {
			margin-bottom: 0;
		}
		@include breakpoint(tablet) {
			margin-bottom: 5em;

			.entry-thumbnail {
				width: 50%;
				max-height: 550px;
			}
			.entry-body {
				margin: 0;
				margin-top: 1em;
			}
		}
	}
	article:nth-of-type(odd) {
		@include breakpoint(tablet) {
			flex-direction: row-reverse;

			.entry-body {
				text-align: right;

				.read-more {
					text-align: right;
				}

				.entry-snippet {
					justify-content: flex-end;
				}
				.entry-footer {
					justify-content: flex-start;
				}
			}
		}
	}
}

.site-content.has-sidebar {
	.entry-title {
		font-size: 1.7em;
	}

	// article:nth-of-type(n+2) .entry-body {
	// 	margin-top: 2em;

	// 	@include breakpoint(tablet) {
	// 		margin-top: 1em;
	// 	}
	// }
}

.nav-links {
	font: $font__menu-small;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 2em;

	@include breakpoint(tablet) {
		font-size: 0.975em;
	}

	a {
		color: $color__primary;
		font-weight: bold;

		&:hover {
			color: $color__accent;
		}
	}
}

.numbered-navigation {
	font: $font__menu;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	margin-bottom: 2em;

	ul {
		list-style: none;
		padding-left: 0;
		text-align: center;

		 li {
		 	display: inline-block;
		 	padding: 0 0.25em;
		 }

		 a {
		 	color: $color__primary;
		 }
	}
}


/* Before & After Content Area Hoempage 
------------------------------------ */
.after-content-home, .before-content-home, .single-post-widgets, .before-footer {

	.widgettitle {
		text-align: center;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 2em;

		@include breakpoint(tablet) {
			margin-top: 0em;
		}
	}
}

.before-content-home {
	margin-top: -4em;

	@include breakpoint(tablet) {
		margin-top: 0;
	}
}


// Entry Characteristics
blockquote, .wp-block-quote {
	position: relative;

	&:before {
		content: "\201C";
		font-size: 8em;
		font-family: Georgia;
		position: absolute;
		top: -20px;
		left: 0;
		line-height: 1em;
		color: $color__accent;
		z-index: -1;
	}
}