/* Archive Page
------------------- */
.site-content {
	margin-top: 3em;
	max-width: 1280px;
}

.site-content.has-sidebar #primary {
    width: 100%;
}

#primary {
	width: 100%;
}

.page-header {
	width: 100%;
	margin-bottom: 2em;
}

.site-main {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;

	@include breakpoint(smartphone) {
		grid-template-columns: 1fr 1fr;
	}

	@include breakpoint(tablet) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	article {
		width: 100%;
		margin-bottom: 0em;

		@include breakpoint(tablet) {
			margin-bottom: 3.5em;
		}

		.entry-thumbnail {
			height: 350px;
			overflow: hidden;
			display: flex;
			align-items: center;
			width: 100%;

			@include breakpoint(tablet) {
				height: 350px;
			}
		}

		.entry-body {
			width: 100%;
			padding: 0;
			margin-top: 0.75em;
			align-self: flex-start;

			.entry-content {
				margin-top: 0.5em;
			}
		}

		.entry-title {
			font-size: 1.5em;
		}

		.entry-meta {
			margin: 1em auto 1.35em auto;
			font-size: 0.875em;
		}
	}
}

.posts-navigation {
	width: 100%;
}