/* Static Page
----------------- */
.site-content {
  max-width: 100%;
  padding: 0;
}

.page-title {
	text-align: center;
}

.search .page-content, .error-404 .page-content {
	text-align: center;
}

.has-sidebar .site-main .entry-content {
  max-width: 100%;
}

.error404 {

  #primary {
    width: 100%;
  }

  .error-404 .notice-404 {
    font: $font__menu;
    font-size: 10em;
    color: $color__secondary;
    margin: 0 auto;
    text-align: center;
  }

  .page-content .searchform {
    input {
      width: 300px;
      margin: 2em auto;
      padding: 0.25em;
    }
  }

}

.page-template-default {
  #primary {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .entry-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .title-wrapper {
      width: 50%;
      position: relative;
      z-index: 7766;

      @include breakpoint(tablet) {
        margin-top: 3.5em;
        margin-left: 3.5em;

        // &:after {
        //   content: '';
        //   width: 100%;
        //   height: 500px;
        //   background-color: $color__grey;
        //   display: block;
        //   z-index: -1;
        //   margin-left: -4.5em;
        // }
      }

      .entry-title {
        font-size: 3em;

        @include breakpoint(tablet) {
          font-size: 3.45em;
        }
      }

      .subtitle {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.4em;
        font-size: 1.15em;
      }
    }

    .entry-thumbnail {
      width: 70%;
      margin-left: -5em;
      margin-right: 7em;
    }
  }


  .entry-content a {
    color: $color__primary;
    border-bottom: 1px solid $color__primary;

    &:hover {
      color: $color__accent;
      border-bottom: 1px solid $color__accent;
    }
  }

  .entry-content {
    max-width: 100%;
    line-height: 1.6em;
    color: $color__primary;

    p {
      font: $font__text;
      font-size: 1.35em;
      color: $color__primary;
      line-height: 1.55em;
    }

    h2, h3, h4, h5 {
      font: $font__headline;
      color: $color__primary;
    }

    h4 {
      font-size: 0.975em;
      letter-spacing: 0.05em;
      font-weight: 600;
    }
  }
}


/* No results Search Page */
.no-results {
  margin: 0 auto;
  margin-bottom: 6em;

  .searchform {
    input {
      width: 200px;
    }
  }
}


/* Colorful radiobuttons */
.wpcf7-radio {
  .wpcf7-list-item {
    display: inline-block;
    margin: 0.1em 0.5em 0.1em 0;
    margin-top: -1em;

    input[type="radio"] {
      visibility: hidden;
    }

    &-label {
      font-size: 0.75em;
      border: 3px dotted #9FC2A1;
      padding: 0.35em 1.5em;
      display: block;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        background-color: #9FC2A1;
      }
    }

  }
}